<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <input type="radio" name="bfee" value="C:2000" >C <br>
        <input type="radio" name="bfee" value="CPP:4500" >CPP <br>
        <input type="checkbox" name="afee" value="JAVA:25000" >JAVA <br>
        <input type="checkbox" name="afee" value="DOTNET:35000" >.NET <br>
        <input type="submit" name="btnsubmit" value="Click" />


    </form>

    {{key1}}:
    {{key2}}
</body>
</html>